/* フォントの読み込み */
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 500;
    font-style: normal;
}

a:hover {
    color: #00ccff
}

.header-bg {
    background-color: #333;
    bottom: 0;
    height: 100%;
    max-height: 56px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .125s;
    width: 100%;
    z-index: -10;
}

.name {
    padding-left: 20px;
    display: table-cell;
    font-size: 20px;
    height: 56px;
    max-width: 380px;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}

.name a{
    color: #f9f9f9;
}

.pagelinks *{
    color: #f9f9f9;
    padding-right: 10px;
    font-size: 20px;
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    box-sizing: border-box;
    white-space: nowrap;
}

.main img{
    width: 100%;
    
}
